/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@media screen and (min-width: 700px) {
  .heroBanner {
    padding: 4rem 0;
    text-align: left;
    text-wrap: nowrap;
    position: relative;
    overflow: hidden;
    background: url("/static/img/webiola-hero.jpg") right / auto 100% no-repeat,
      #000000;
    border-radius: 200px;
    border: 1px solid var(--ifm-hero-text-color);
    margin: 40px 50px 0px 50px;
  }
}
@media screen and (max-width: 699px) {
  .heroBanner {
    text-align: center;
    margin: 2rem 0 -3rem 0;
    padding: 2rem 0 0 0;
    border: 1px solid white;
    border-radius: 200px;
    background: var(--ifm-background-surface-color);
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
